.fw--bold {
  font-weight: 700;
}

.fw--normal {
  font-weight: 400;
}

.fw--light {
  font-weight: 200;
}

.fst--italic {
  font-style: italic;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--lowercase {
  text-transform: lowercase;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text--danger {
  color: #fc2003;
}

.text--primary {
  color: #0330fc;
}

.text--info {
  color: #03dffc;
}

.text--warning {
  color: #fce303;
}

.text--black {
  color: #000000;
}

.text--light {
  color: #ffffff;
}

.text--dark {
  color: #a8a8a8;
}

.btn {
  background-color: transparent;
  border: 1px solid;
  color: #000000;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  width: auto;
}

.btn--danger {
  color: #ffffff;
  background-color: #eb321a;
  border-color: #eb321a;
}

.btn--primary {
  color: #ffffff;
  background-color: #57bff7;
  border-color: #57bff7;
}

.btn--success {
  color: #ffffff;
  background-color: #1fcc56;
  border-color: #1fcc56;
}

.btn--warning {
  color: #ffffff;
  background-color: #f5e14e;
  border-color: #f5e14e;
}

.btn--info {
  color: #ffffff;
  background-color: #7bd8e0;
  border-color: #7bd8e0;
}

.btn--dark {
  color: #ffffff;
  background-color: #70706f;
  border-color: #70706f;
}

.btn--light {
  color: #000000;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
}

.header__title {
  color: #ffffff;
}

.item {
  color: #ffffff;
}

#app {
  background-color: #89b5f0;
  min-height: 100%;
}
